[workspace]
members = [
    "contracts",
    "lib/crypto",
    "lib/grip",
    "lib/grip-proc",
    "examples/erc20",
    "examples/erc721",
    "examples/merkle-proofs",
    "examples/ownable",
    "examples/access-control",
    "e2e-tests", 
    "lib/e2e-grip", 
    "lib/e2e-grip-proc",
]
default-members = [
    "contracts",
    "lib/crypto",
    "lib/grip",
    "lib/grip-proc",
    "examples/erc20",
    "examples/erc721",
    "examples/merkle-proofs",
    "examples/ownable",
    "examples/access-control",
    "lib/e2e-grip-proc",
]

# Explicitly set the resolver to version 2, which is the default for packages
# with edition >= 2021.
# https://doc.rust-lang.org/edition-guide/rust-2021/default-cargo-resolver.html
resolver = "2"

[workspace.package]
authors = ["OpenZeppelin"]
edition = "2021"
license = "MIT"
keywords = ["arbitrum", "ethereum", "stylus"]
repository = "https://github.com/OpenZeppelin/rust-contracts-stylus"

[workspace.dependencies]
alloy-primitives = { version = "0.3.1", default-features = false }
alloy-sol-types = { version = "0.3.1", default-features = false }
# TODO: lift stylus-sdk and stylus-proc versions once nitro test node will be compatible
stylus-sdk = { version = "0.4.3", default-features = false }
stylus-proc = { version = "0.4.3", default-features = false }
mini-alloc = "0.4.2"

[profile.release]
codegen-units = 1
panic = "abort"
opt-level = "z"
strip = true
lto = true
debug = false
rpath = false
debug-assertions = false
incremental = false

[profile.dev]
panic = "abort"
