[workspace]
members = [
  "contracts",
  "lib/crypto",
  "lib/motsu",
  "lib/motsu-proc",
  "examples/erc20",
  "examples/erc721",
  "examples/merkle-proofs",
  "examples/ownable",
  "examples/access-control",
  "lib/e2e",
  "lib/e2e-proc",
]
default-members = [
  "contracts",
  "lib/crypto",
  "lib/motsu",
  "lib/motsu-proc",
  "examples/erc20",
  "examples/erc721",
  "examples/merkle-proofs",
  "examples/ownable",
  "examples/access-control",
  "lib/e2e-proc",
]

# Explicitly set the resolver to version 2, which is the default for packages
# with edition >= 2021.
# https://doc.rust-lang.org/edition-guide/rust-2021/default-cargo-resolver.html
resolver = "2"

[workspace.package]
authors = ["OpenZeppelin"]
edition = "2021"
license = "MIT"
keywords = ["arbitrum", "ethereum", "stylus"]
repository = "https://github.com/OpenZeppelin/rust-contracts-stylus"


[workspace.lints.rust]
rust_2021_compatibility = { level = "warn", priority = -1 }
missing_docs = "warn"
unreachable_pub = "warn"


[workspace.lints.clippy]
pedantic = "warn"
all = "warn"





[workspace.dependencies]
stylus-sdk = { version = "0.5.0", default-features = false }
stylus-proc = { version = "0.5.0", default-features = false }
mini-alloc = "0.4.2"


alloy = { version = "0.1.1", features = [
  "contract",
  "network",
  "providers",
  "provider-http",
  "rpc-client",
  "rpc-types-eth",
  "signer-local",
  "getrandom",
] }
# Even though `alloy` includes `alloy-primitives` and `alloy-sol-types` we need
# to keep both versions for compatibility with the Stylus SDK. Once they start
# using `alloy` we can remove these.
alloy-primitives = { version = "0.3.1", default-features = false }
alloy-sol-types = { version = "0.3.1", default-features = false }

[profile.release]
codegen-units = 1
panic = "abort"
opt-level = "z"
strip = true
lto = true
debug = false
rpath = false
debug-assertions = false
incremental = false

[profile.dev]
panic = "abort"
