name: check-publish
# This workflow checks if the libraries can be published on crates.io.
permissions:
  contents: read
on:
  push:
    branches: [main, v*]
  pull_request:
    branches: [main, v*]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
env:
  CARGO_TERM_COLOR: always
jobs:
  check-publish:
    name: Check publish on crates.io
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rustflags: ""

      - name: Check openzeppelin-crypto
        run: cargo publish -p openzeppelin-crypto --target wasm32-unknown-unknown  --dry-run

      - name: Check openzeppelin-stylus-proc
        run: cargo publish -p openzeppelin-stylus-proc --target wasm32-unknown-unknown  --dry-run

      - name: Check openzeppelin-stylus
        run: cargo publish -p openzeppelin-stylus --target wasm32-unknown-unknown  --dry-run
