name: check-abi
# This workflow checks that the example contracts can export their ABI.
permissions:
  contents: read
on:
  push:
    branches: [main, v*]
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
env:
  CARGO_TERM_COLOR: always
jobs:
  check-abi:
    name: Check ABI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rustflags: ""

      - name: Install cargo-stylus
        run: cargo install cargo-stylus@0.5.12

      - name: Run export-abi
        run: ./scripts/check-abi.sh
