name: gas-bench
# This workflow checks that the compiled wasm binary of every example contract
# can be deployed to Arbitrum Stylus.
permissions:
  contents: read
on:
  push:
    branches: [main, v*]
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
env:
  CARGO_TERM_COLOR: always
jobs:
  required:
    name: Gas usage report
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache-key: "gas-bench"
          rustflags: ""

      - name: Install cargo-stylus
        run: cargo install --locked --force cargo-stylus@0.6.3

      - name: Install wasm-opt
        run: cargo install wasm-opt@0.116.1

      - name: Setup nitro node
        run: ./scripts/nitro-testnode.sh -d -i

      - name: run benches
        run: ./scripts/bench.sh
