name: publish motsu
# This workflow publishes motsu on crates.io.
permissions:
  contents: read
on:
  workflow_dispatch
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
env:
  CARGO_TERM_COLOR: always
jobs:
  check-publish:
    name: Publish motsu on crates.io
    env:
      MOTSU_TOKEN: ${{ secrets.MOTSU_TOKEN }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rustflags: ""

      - name: Check motsu
        run: cargo publish -p motsu --dry-run

      - name: Publish motsu
        run: cargo publish -p motsu --token "$MOTSU_TOKEN"
