name: publish openzeppelin-stylus-proc
# This workflow publishes openzeppelin-stylus-proc on crates.io.
permissions:
  contents: read
on:
  workflow_dispatch
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
env:
  CARGO_TERM_COLOR: always
jobs:
  check-publish:
    name: Publish openzeppelin-stylus-proc on crates.io
    env:
      OPENZEPPELIN_STYLUS_PROC_TOKEN: ${{ secrets.OPENZEPPELIN_STYLUS_PROC_TOKEN }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rustflags: ""

      - name: Check openzeppelin-stylus-proc
        run: cargo publish -p openzeppelin-stylus-proc --target wasm32-unknown-unknown --dry-run

      - name: Publish openzeppelin-stylus-proc
        run: cargo publish -p openzeppelin-stylus-proc --target wasm32-unknown-unknown --token $OPENZEPPELIN_STYLUS_PROC_TOKEN
