name: publish openzeppelin-crypto
# This workflow publishes openzeppelin-crypto on crates.io.
permissions:
  contents: read
on:
  push:
    tags:
      - v*
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
env:
  CARGO_TERM_COLOR: always
jobs:
  check-publish:
    name: Publish openzeppelin-crypto on crates.io
    env:
      OPENZEPPELIN_CRYPTO_TOKEN: ${{ secrets.OPENZEPPELIN_CRYPTO_TOKEN }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rustflags: ""

      - name: Check openzeppelin-crypto
        run: cargo publish -p openzeppelin-crypto --target wasm32-unknown-unknown --dry-run

      - name: Publish openzeppelin-crypto
        run: cargo publish -p openzeppelin-crypto --target wasm32-unknown-unknown --token $OPENZEPPELIN_CRYPTO_TOKEN
